@using Microsoft.AspNetCore.Http
@using WebsiteLibrary.Models
@using WebsiteLibrary.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/info.css">
    <link rel="stylesheet" href="~/css/library-payment.css">
    <link rel="stylesheet" href="~/css/library-register-card.css">
    <link rel="stylesheet" href="~/css/history.css">
    @RenderSection("Styles", required: false)
</head>
<body class="goto-here">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/Reader/Index">LIBRARY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="/Reader/Index" class="nav-link">Trang chủ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thư viện sách</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="/Reader/Library?category=Tất cả">Tất cả</a>
                                <a class="dropdown-item" href="/Reader/Library?category=Tài liệu học tập">Tài liệu học tập</a>
                                <a class="dropdown-item" href="/Reader/Library?category=Sách phát triển bản thân">Sách phát triển bản thân</a>
                                <a class="dropdown-item" href="/Reader/Library?category=Tài liệu lịch sử">Tài liệu lịch sử</a>
                                <a class="dropdown-item" href="/Reader/Library?category=Tiểu thuyết">Tiểu thuyết</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="/Reader/About" class="nav-link">Về chúng tôi</a></li>
                        <li class="nav-item">
                            <a href="/Reader/LoanCart" class="nav-link">
                                <span class="icon-book"></span>
                                [<span id="cart-count">@(Context.Session.GetObject<List<WebsiteLibrary.Models.LoanCartItem>>("LoanCart")?.Count ?? 0)</span>]
                            </a>
                        </li>
                        <li class="nav-item cta cta-colored dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="/Reader/Info#library-personal-content" data-section="library-personal-content"><span class="icon-user"></span> Thông tin cá nhân</a>
                                <a class="dropdown-item" href="/Reader/Info#library-card-content" data-section="library-card-content"><span class="icon-id-card"></span> Thẻ thư viện</a>
                                <a class="dropdown-item" href="/Reader/History"><span class="icon-history"></span> Lịch sử mượn trả</a>
                                <a class="dropdown-item" href="/Account/Logout"><span class="icon-sign-out"></span> Đăng xuất</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("_Footer")
    </div>

    <!-- Loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/info.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>